<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>others.CntxList</listener-class>
    </listener>
    <servlet>
        <servlet-name>ShowStudents</servlet-name>
        <servlet-class>ShowStudents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSubjects</servlet-name>
        <servlet-class>ShowSubjects</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowStudents</servlet-name>
        <url-pattern>/ShowStudents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSubjects</servlet-name>
        <url-pattern>/ShowSubjects</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
